#title{
    width: 300px;
    background: none;
    border: none;
    border: 2px solid rgba(104,196,105,1);
}

 #post-text {
    width: 300px;
    height: 200px;
    background: none;
    border: none;
    border: 2px solid rgba(104,196,105,1);
}

.create-post {
    display: flex;
    justify-content: center;
 background-color: rgba(154, 145, 145, 0.82);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
  height: 480px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* Add shadow */
}

.create-page-form{
  width: 100%;
  background-color: rgba(20, 19, 19, 0.82); /* Adjust opacity */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}