main {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure full viewport height */
}

.login-page {
  background-image: url('../assets/forest.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 900px;
  height: 480px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* Add shadow */
}

.login-page-form {
  width: 50%;
  background-color: rgba(20, 19, 19, 0.82); /* Adjust opacity */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Other styles remain unchanged */


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin: 10px;
}

input,
input,
button {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background: rgb(38,77,64);
  background: linear-gradient(90deg, rgba(38,77,64,1) 5%, rgba(104,196,105,1) 57%, rgba(77,136,116,1) 87%);
  color: white;
  cursor: pointer;
  width: 50%; /* Set button width to 50% of its container */
  max-width: 200px;
  border: none;
  border-radius: 6px;
}
#username, #password, #email{
    width: 300px;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(104,196,105,1);
}

#username::placeholder, #password::placeholder, #email::placeholder{
font-size: 10px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 2px; 
}


form{
  width: 300px;
  display: flex;   
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
    font-family: "Oswald", sans-serif;
    text-align: left;
    color: #ccc;
}
p{
    color: #ccc;
    font-size: 14px;
}
a{
    color: #ccc;
}