main {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.user-profile {
  height: 100vh;
  width: calc(100% - 300px);
  padding-top: 0;
  margin: 0;
}

.background-image {
  margin-top: 0;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.276);
  height: 270px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative; /* Set position to relative */
}

.avatar {
  width: 150px;
  height: 150px;
  background-color: black;
  position: relative; /* Set position to absolute */
  z-index: 1; /* Ensure it appears above the background-image */
  margin-top: -75px;
  margin-left: 100px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.profile-info-block{
    display: flex;
    justify-content: space-between;
}

.posts-and-followers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.posts-and-followers P{
   margin: 10px;
   text-align: center;
   display: flex;
   justify-content: space-around;
}

.span-posts{
  margin-top: 20px;
}

.followers-span{
  margin-top: -10px;
  margin-bottom: -9px;
}

#avatar{
    width: 100%;
    border-radius: 50%;
     height: 100%;
}

#followBtn{
    height: 40px;
    border: 1px solid white;
}

.settingBtn{
  margin-top: 35px;
}

.upload-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.upload-card h3 {
  margin-top: 0;
}

.upload-card input {
  display: block;
  margin: 10px 0;
}

.upload-card button {
  margin: 5px;
}

#background{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.count-stats{
display: flex;
flex-direction: column;
text-align: center;
}

.user-profile-head{
color:white;
margin-top: 50px;
}