#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

body{
background-color: #264d40;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 0;
 margin: 0;
 height: 100vh;
}